# keep it sorted and clean (vim: %!sort | uniq)
.CFUserTextEncoding
.DS_Store
.Trash/
.android
.aws-secrets
.bash_history
.bin
.cache
.chef
.ctrlp_cache
.cups
.dropbox
.ec2
.gdb_history
.gem
.gitk
.guard_history
.gvimrc
.heroku
.hgignore_global
.irb-history
.irb_history
.janus
.lesshst
.macports
.mono
.my.cnf
.mysql_history
.netrc
.node_libraries
.npm
.psql_history
.rdebug_hist
.rediscli_history
.rhomobile
.rightscale
.rnd
.rvm
.s3cfg
.sqlite_history
.ssh/
.subversion
.subversion_IDEA
.thor
.trine
.vegas
.vim
.vim-cache
.vim-fuf
.viminfo
.vimrc
.zprofile
.zshenv
Applications/
Calibre Library/
Desktop/
Documents
Downloads/
Dropbox/
Incompatible Software/
Library/
Movies/
Music/
Pictures/
Public/
Sites/
bin/
projects/
share/
tmp/
