# keep it sorted and clean (vim: %!sort | uniq)
.CFUserTextEncoding
.DS_Store
.Trash/
.android
.bash.d/ssh-agent.sh
.bash_history
.cups
.dropbox
.gdb_history
.gem
.irb-history
.irb_history
.lesshst
.mysql_history
.psql_history
.rdebug_hist
.rnd
.rvm
.sqlite_history
.ssh/
.subversion
.trine
.vim/\.netrwhist
.vim-fuf
.viminfo
Applications/
Calibre Library/
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures/
Public/
Sites/
projects/
