[user]
	name = Alex Soto
	email = apsoto@gmail.com
[color]
	status = auto
	diff = auto
	branch = auto
[merge]
	tool = opendiff
[alias]
    b = branch -v
    br = branch -r -v
    ci = commit
    co = checkout
    cp = cherry-pick
    d = diff 
    dc = diff --cached
    ignored = ls-files --exclude-standard --ignored --others
    spull = !git-svn fetch && git-svn rebase
    spush = !git-svn dcommit
    st = status
  ll = log --pretty=format:'%Cblue%h%d%Creset %ar %Cgreen%an%Creset %s' --graph
[core]
	excludesfile = /Users/asoto/.gitignore_global
	quotepath = false
[log]
  decorate 

# by default always rebase the master branch when pulling
[branch "master"]
	rebase = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
	default = simple
